<ion-header>
  <ion-navbar>
    <ion-title>Hiragana</ion-title>
  </ion-navbar>
  <style>
  </style>
</ion-header>

<ion-content padding>
  <div class="hira">
    <div class="hira-content" *ngIf="selectedHira">
      <div class="hira-key">
        <h1>{{selectedHira.key}}</h1>
      </div>

      <div class="hira-value" *ngIf="showResult">
        <p class="header">Result:</p>
        <p class="content">{{selectedHira.value}}</p>
      </div>
    </div>

    <div class="hira-footer">
      <button class="hira-button" ion-button color="secondary" round (click)="onNext()">Next</button>
      <button class="hira-button" ion-button color="danger" round (click)="onViewResult()">View</button>
    </div>
  </div>
</ion-content>